<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<nav class="bg-blue-500 py-4">
  <div class="container mx-auto flex justify-between items-center">
    <a class="text-white font-bold text-xl" href="#">Citas Médicas</a>
    <ul class="flex space-x-4">
      <li><a class="text-white hover:text-blue-300" href="#">Inicio</a></li>
      <li><a class="text-white hover:text-blue-300" href="#">Citas</a></li>
      <li><a class="text-white hover:text-blue-300" href="#">Médicos</a></li>
      <li><a class="text-white hover:text-blue-300" href="#">Pacientes</a></li>
      <li><a class="text-white hover:text-blue-300" href="#">Acerca de</a></li>
    </ul>
  </div>
</nav>


<router-outlet />
